ion-toolbar {
  text-align: center;
  margin: 0 auto;
  --background: #161e29;
}

ion-content {
  --background: white;
}

.smallLogo {
  width: 160px;
  text-align: center;
  margin: 10px;
}

.icon-ticket {
  padding-top: 0px;
  text-align: center;
}

.icon-ticket img {
  width: 190px;
  border-radius: 100%;
}
p {
  color: black;
}

ion-button {
  --background: #081724;
  width: 140px;
  height: 70px;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}

.content-title {
  --background: #161e29;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #161e29;
}

.content-title h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.item-reg {
  font-family: 'Lato';
  font-weight: 400;
}

ion-card-header {
  padding: 0px;
  margin: 0px;
  --background: #161e29;
}

ion-card {
  margin: 0px;
  padding: 0px;
  --background: #161e29;
  border-radius: 15px;
}

ion-card-content {
  --background: #161e29;
  padding: 0px;
}

ion-list {
  padding: 0px;
  --background: #161e29;
}

.container-friends ion-item {
  --background: #161e29;
}

ion-avatar {
  margin: 0 30px 0 0;
}

.icon-friend {
  width: 30px;
}

.table-friends {
  table-layout: auto;
}
