<ion-header>
  <ion-toolbar>
    <img src="assets/logo.svg" class="smallLogo"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-title">
    <img class="img-content" src="assets/icon/INFO.jpg"/>
    <h4>Información sobre la aplicacion</h4>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="center-col">
        <p><strong>REGLEMENT </strong></p>
<p>Bienvenue aux ZAP PRIVILEGI&Eacute;S ! Vous vous appr&ecirc;tez &agrave; vivre l&rsquo;exp&eacute;rience ZAP PRIVILEGE, application d&eacute;velopp&eacute;e exclusivement pour les clients ZAPINVEST dont les objectifs sont de vous faciliter la vie en Espagne, r&eacute;duire vos d&eacute;penses et surtout vous guider dans vos activit&eacute;s&hellip; Pr&eacute;parez-vous&hellip;</p>
<p>&nbsp;</p>
<p><strong>Qui ?</strong></p>
<p>La carte privil&egrave;ge est nominative, num&eacute;rot&eacute;e et gratuite pour le client qui a achet&eacute; chez ZAPINVEST. Celle-ci peut &ecirc;tre utilis&eacute;e par le couple d'acheteurs + enfants UNIQUEMENT. Les amis et/ou personnes qui accompagnent le d&eacute;tenteur de la carte b&eacute;n&eacute;ficieront &eacute;galement de l'avantage.</p>
<p>&nbsp;</p>
<p><strong>Quoi ?</strong></p>
<p>Elle offre une s&eacute;rie d'avantages et r&eacute;ductions dans la r&eacute;gion qui sont r&eacute;pertori&eacute;s sur l'application ZAP PRIVILEGE (gratuite). Elle offre l'acc&egrave;s gratuit &agrave; un syst&egrave;me de r&eacute;servation de ZAPINVEST aupr&egrave;s des partenaires (r&eacute;servation table au restaurant, location voiture etc&hellip;).</p>
<p>De plus la fid&eacute;lisation de son utilisation sera r&eacute;compens&eacute;e chaque ann&eacute;e et mat&eacute;rialis&eacute;e par un cumul de points. Vous devrez scanner votre ticket de consommation au restaurant ou encore votre facture ZAPDESIGN par exemple, qui vous donne &eacute;galement droit &agrave; des points. Lorsque vous l&rsquo;aurez scann&eacute;, le nombre de points sera ajout&eacute; &agrave; votre compte.</p>
<p>&nbsp;</p>
<p><strong>Comment utiliser un privil&egrave;ge ?</strong></p>
<p>Vous voulez r&eacute;server un restaurant ou un parcours de golf, vous pouvez le faire directement en appelant le prestataire o&ugrave; notre agence. Nous pouvons le faire pour vous pendant les heures d&rsquo;ouverture de l&rsquo;agence, il vous suffit de cliquer sur RESERVER et vous serez redirig&eacute;s vers notre num&eacute;ro de t&eacute;l&eacute;phone. Montrez votre carte Privil&egrave;ge chez nos collaborateurs en arrivant. Afin de b&eacute;n&eacute;ficier de votre avantage nous vous recommandons de passer par l&rsquo;agence pour r&eacute;server.</p>
<p>&nbsp;</p>
<p><strong>Comment cumuler des points ?</strong></p>
<p>Seuls les factures/justificatifs scann&eacute;s et encod&eacute;s sur l'application dans un d&eacute;lais d'un mois seront valables et valid&eacute;s.</p>
<p>Le 15/01 (si celui-ci tombe un week end alors prochain jour ouvrable) de chaque ann&eacute;e sera la date limite de factures &eacute;mises, pay&eacute;es et scann&eacute;es qui permettra de conna&icirc;tre le total des points. En fonction de la cat&eacute;gorie de points, l'utilisateur pourra consommer ses points tout au long de l'ann&eacute;e suivante. Au m&ecirc;me moment son compteur de points sera remis &agrave; 0 et ce, peu importe le total de points qu'il aura obtenu.</p>
<p>&nbsp;</p>
<p><strong>R&egrave;gles d'&eacute;changes de points / Contre quoi j'&eacute;changes des points en cours d'ann&eacute;e</strong></p>
<ul>
<li><strong>En dessous de 4000 points</strong>= peut faire mieux (merci d'avoir particip&eacute; et d'avoir b&eacute;n&eacute;fici&eacute; de nos nombreux avantages)</li>
<li><strong>Entre 4001 et 7000 points</strong>= Bon d'achat consommable l'ann&eacute;e suivante dans les services ZAP, valeur entre 401 et 700 &euro;</li>
<li><strong>D&egrave;s 7001 points</strong>= bon d'achat consommable l'ann&eacute;e suivante chez n'importe quel partenaires (avions, voitures, bateaux, h&ocirc;tels, etc&hellip;).</li>
</ul>
<p>&nbsp;</p>
<p><strong>Quelle valeur &agrave; chaque point obtenu ?</strong></p>
<ol>
<li><strong>Ensemble des services ZAPINVEST : 1 &euro; d&eacute;pens&eacute; = 0,2 point</strong></li>
</ol>
<ul>
<li><strong>Zap Holiday</strong></li>
</ul>
<ul>
<li>Pack Holiday</li>
<li>Nettoyage</li>
<li>Blanchisserie</li>
<li>Gestion</li>
<li>Reportage photos</li>
</ul>
<ul>
<li><strong>Zap Design</strong></li>
</ul>
<ul>
<li>Article d&eacute;coration</li>
<li>Mobilier</li>
</ul>
<ul>
<li><strong>Zap Zen </strong></li>
</ul>
<ul>
<li>Travaux de notre personnel</li>
</ul>
<p>&nbsp;</p>
<ol>
<li><strong>Partenaires li&eacute;s &agrave; l&rsquo;achat: 1 &euro; d&eacute;pens&eacute; = 0,2 point</strong></li>
</ol>
<ul>
<li>Travaux de prestataires externes (airco, r&eacute;novations etc)</li>
</ul>
<p>&nbsp;</p>
<ol>
<li><strong>Autres services de la carte privil&egrave;ge&nbsp;: 1 &euro; d&eacute;pens&eacute; = 1 point</strong></li>
</ol>
<ul>
<li>Restaurants, golfs, voitures, etc</li>
</ul>
<p><strong>&nbsp;</strong></p>
<ol>
<li><strong>1 participation &agrave; Viva ESPA&Ntilde;A: </strong><strong>300 points</strong></li>
<li><strong>1 ami qui ach&egrave;te: </strong><strong>7000 points</strong></li>
</ol>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
