<ion-header>
  <ion-toolbar>
    <img src="assets/logo.svg" class="smallLogo"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-title">
    <img class="img-content" src="assets/icon/INFO.jpg"/>
    <h4>Información sobre la aplicacion</h4>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="center-col">
        <p><strong>REGLEMENT </strong></p>
        <p>Bienvenue aux ZAP PRIVILEGI&Eacute;S ! Vous vous appr&ecirc;tez &agrave; vivre l&rsquo;exp&eacute;rience ZAP PRIVILEGE, application d&eacute;velopp&eacute;e exclusivement pour les clients ZAPINVEST dont les objectifs sont de vous faciliter la vie en Espagne, r&eacute;duire vos d&eacute;penses et surtout vous guider dans vos activit&eacute;s&hellip; Pr&eacute;parez-vous&hellip;</p>
        <p>&nbsp;</p>
        <p><strong>Qui ?</strong></p>
        <p>La carte privil&egrave;ge est nominative, num&eacute;rot&eacute;e et gratuite pour le client qui a achet&eacute; chez ZAPINVEST. Celle-ci peut &ecirc;tre utilis&eacute;e par le couple d'acheteurs + enfants UNIQUEMENT. Les amis et/ou personnes qui accompagnent le d&eacute;tenteur de la carte b&eacute;n&eacute;ficieront &eacute;galement de la r&eacute;duction (hors points).</p>
        <p>&nbsp;</p>
        <p><strong>Quoi ?</strong></p>
        <p>Elle offre une s&eacute;rie d'avantages et r&eacute;ductions dans la r&eacute;gion qui sont r&eacute;pertori&eacute;s sur l'application ZAP PRIVILEGE (gratuite). Elle offre l'acc&egrave;s gratuit &agrave; un syst&egrave;me de r&eacute;servation de ZAPINVEST aupr&egrave;s des partenaires (r&eacute;servation de table au restaurant, location de voiture etc&hellip;).</p>
        <p>De plus, la fid&eacute;lisation de son utilisation sera r&eacute;compens&eacute;e chaque ann&eacute;e et mat&eacute;rialis&eacute;e par un cumul de points. Vous devrez scanner votre ticket de consommation au restaurant ou encore votre facture ZAPDESIGN par exemple, qui vous donnera &eacute;galement droit &agrave; des points. Une fois le document r&eacute;ceptionn&eacute; par nos soins le nombre de points sera ajout&eacute; &agrave; votre compte.</p>
        <p>&nbsp;</p>
        <p><strong>Comment utiliser un privil&egrave;ge ?</strong></p>
        <p>Vous voulez r&eacute;server un restaurant ou un parcours de golf&nbsp;? Vous pouvez le faire directement en appelant le prestataire ou notre agence. Nous le faisons pour vous pendant les heures d&rsquo;ouverture de l&rsquo;agence, il vous suffit de cliquer sur RESERVER et vous serez redirig&eacute;s vers notre num&eacute;ro de t&eacute;l&eacute;phone. (Afin de b&eacute;n&eacute;ficier de votre avantage nous vous recommandons de passer par l&rsquo;agence pour r&eacute;server.) N&rsquo;oubliez pas de montrer votre carte Privil&egrave;ge chez nos collaborateurs en arrivant.</p>
        <p>N’oubliez pas de montrer votre carte Privilège directement chez nos collaborateurs en arrivant et avant de consommer.
          Le mettre en gras dans l’appli pour insister dessus</p>
        <p>&nbsp;</p>
        <p><strong>Comment cumuler des points ?</strong></p>
        <p>Seuls les factures/justificatifs scann&eacute;s et encod&eacute;s sur l'application dans un d&eacute;lai d'un mois seront valables et valid&eacute;s.</p>
        <p>Le 31/12 de chaque ann&eacute;e (si celui-ci tombe un week-end, le prochain jour ouvrable) sera la date limite de factures &eacute;mises, pay&eacute;es et scann&eacute;es qui permettra de conna&icirc;tre le total des points. En fonction de la tranche de points obtenus vous vous verrez remettre un bon d’achat en € à consommer selon les règles dans le courant de l’année qui suit. Au m&ecirc;me moment, votre compteur de points sera remis &agrave; 0 et ce, peu importe le total de points qu'il aura obtenu.</p>
        <p>&nbsp;</p>
        <p><strong>R&egrave;gles d'&eacute;change de points / Contre quoi puis-je &eacute;changer des points en fin d’année. ?</strong></p>
        <ul>
        <li><strong>En dessous de 4000 points</strong>= vous pouvez faire mieux&nbsp;! Merci d'avoir particip&eacute; et d'avoir b&eacute;n&eacute;fici&eacute; de nos nombreux avantages.</li>
        <li><strong>Entre 4001 et 7000 points</strong>= bon d'achat consommable l'ann&eacute;e suivante dans les services ZAP, valeur entre 401 et 700 &euro;</li>
        <li><strong>D&egrave;s 7001 points</strong>= bon d'achat consommable l'ann&eacute;e suivante chez n'importe quel partenaires (avions, voitures, bateaux, h&ocirc;tels, etc&hellip;).</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Quelle valeur pour chaque point obtenu ?</strong></p>
        <ol>
        <li><strong>Ensemble des services ZAPINVEST : 1 &euro; d&eacute;pens&eacute; = 0,2 point</strong></li>
        </ol>
        <ul>
        <li><strong>Zap Holiday</strong></li>
        <li>Pack Holiday</li>
        <li>Nettoyage</li>
        <li>Blanchisserie</li>
        <li>Gestion</li>
        <li>Reportage photos</li>
        <li><strong>Zap Design</strong></li>
        <li>Article de d&eacute;coration</li>
        <li>Mobilier</li>
        <li><strong>Zap Zen </strong></li>
        <li>Travaux r&eacute;alis&eacute;s par notre personnel interne</li>
        <li>THE BOAT COMPANY – excursion en bateau</li>
        </ul>
        <p>&nbsp;</p>
        <ol start="2">
        <li><strong>Partenaires li&eacute;s &agrave; l&rsquo;achat : 1 &euro; d&eacute;pens&eacute; = 0,2 point</strong></li>
        </ol>
        <ul>
        <li>Travaux de prestataires externes (airco, r&eacute;novations etc)</li>
        </ul>
        <p>&nbsp;</p>
        <ol start="3">
        <li><strong>Autres services de la carte privil&egrave;ge&nbsp;: 1 &euro; d&eacute;pens&eacute; = 1 point</strong></li>
        </ol>
        <ul>
        <li>Restaurants, golfs, location de voitures, etc</li>
        </ul>
        <p>&nbsp;</p>
        <ol start="4">
        <li><strong>1 ami qui ach&egrave;te: </strong><strong>7000 points</strong>
        <p>7000 points c’est donc directement 700 € en bon d’achat que vous recevrez en fin d’année !
          Cependant il faut savoir que lorsque vous entrez un ami, nous nous réservons le droit de vous confirmer par retour d’e-mail que l’enregistrement est valable, à savoir qu’il ne figure pas déjà dans notre base de données. Dans le cas contraire, il ne sera malheureusement pas valable. D’autre part, l’enregistrement de votre ami sera valable 4 moi jusqu’à son voyage de prospection. Passé cette date, l’enregistrement sera nul.</p></li>
        </ol>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
