<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" slot="start">
      <ion-back-button
        defaultHref="/home/tabs/tab1"
        (click)="back()"
      ></ion-back-button>
    </ion-buttons>
    <img src="assets/logo.svg" class="smallLogo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
  <ion-searchbar
    placeholder="Ciudad a buscar"
    (ionChange)="searchAction($event)"
    inputMode="text"
    [debounce]="2000"
    animated
  ></ion-searchbar>

  <ion-card *ngFor="let item of resultados">
    <ion-row>
      <ion-col size="4">
        <ion-card-header>
          <img
            src="http://openweathermap.org/img/w/{{item.list[0].weather[0].icon}}.png"
            class="img-tiempo"
          />
        </ion-card-header>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>
          {{item.list[0].weather[0].description}}
        </ion-card-subtitle>
        <ion-card-title><h2>{{item.city.name}}</h2></ion-card-title>
        <h4>{{item.list[0].weather[0].main}}</h4>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <h4 class="red">
        Maxima: {{item.list[0].main.temp_max | number:'1.2-2'}} ºC
      </h4>
      <h2 class="green">
        Media: {{item.list[0].main.temp | number:'1.2-2'}} ºC
      </h2>
      <h4 class="orange">
        Minima: {{item.list[0].main.temp_min | number: '1.2-2'}} ºC
      </h4>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of resultados">
    <ion-row>
      <ion-col size="3">
        <ion-item>
          <ion-icon name="pin" slot="start">
            <img
              src="http://openweathermap.org/img/w/{{item.list[0].weather[0].icon}}.png"
            />
          </ion-icon>
          <ion-label>{{item.city.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-card-content>
      This is content, without any paragraph or header tags, within an
      ion-card-content element.
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item *ngFor="let item of resultados">
      <ion-avatar slot="start">
        <img
          src="http://openweathermap.org/img/w/{{item.list[0].weather[0].icon}}.png"
        />
      </ion-avatar>
      <ion-label slot="start">
        <h4 class="red">
          Maxima: {{item.list[0].main.temp_max | number:'1.2-2'}} ºC
        </h4>
        <h2 class="green">
          Media: {{item.list[0].main.temp | number:'1.2-2'}} ºC
        </h2>
        <h4 class="orange">
          Minima: {{item.list[0].main.temp_min | number: '1.2-2'}} ºC
        </h4>
      </ion-label>
      <ion-label>
        <h1>{{item.city.name}}</h1>
        <h2>{{item.list[0].weather[0].main}}</h2>
        <h3>{{item.list[0].weather[0].description}}</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
