
ion-content{
    --background: #161e29;
}

ion-toolbar{
    text-align: center;
    margin: 0 auto;
    --background: #161e29;
}

.smallLogo{
    width: 160px;
    text-align: center;
    margin: 10px;
}

.content-title{
    --background: #161e29;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content-title h4{
    text-align: center;
    color:  #d3a768;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}
