<ion-header>
  <ion-toolbar>
    <img src="assets/logo.svg" class="smallLogo" />
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <div class="content-category" *ngFor="let item of categories">
    <div (click)="clickCategory(item)">
      <img class="img-category" src="https://desarrollo.crmhawkins.com/storage/{{item?.image}}"/>
      <div class="content-title">
        <h4>{{item?.name}}</h4>
      </div>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of categories">
      <div class="slideContent imgSlide{{item?.id}}">
        <h4 class="tabH4">{{item?.name}}</h4>
        <button class="btnVer" (click)="clickCategory(item)">Ver más</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
